h3{
	text-align: left;
	float: left;
	line-height: 50px;
}
#cartForm{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	margin-top: 10px;
}
#cartTop{
	width: 95%;
	margin: 0 auto;
	border: 3px solid #bbb;
	padding: 10px;
}
#cartTop > img{
	 width: 50px;
	 height: 50px;
}
#cartBottom{
	width: 95%;
	height: 85%; 
	background-color: #ccc;
	margin: 0 auto;
}
#cartData{
	width: 95%;
	height: 60%;
	border: 2px ridge black;
	margin: 0 auto;
	margin-top: 20px;
}
#cartDataForm{
	margin: 0 auto;
	width: 95%;
	margin-top: 20px;
}
#cartRows{
	display: flex;
	border: 1px solid black;
	margin-top: 2px;
}
#cartRows > img{
	width: 50px;
	height: 50px;
}
#cartButton{
	margin-left: 40%;
	margin-right: 60%;
	display: inline-flex;
}